*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000000;
    color: white;
}

body{
    color:  #FFFFFF;
    width: 100vw;
    height: 100vh;
    padding: 96px 58px;
}
p{
    font-weight: 400;
    font-size: 24px;
    line-height: 29.05px;
    height: 29px;
    width: 182px;
}

input{
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    height: 58px;
    width: 100%;
    margin: 5px 20px 10px 0;
    color: white ;
    font-size: 25px;
    caret-color: white;
}
label{
    display: block;
    width: 100%;
    margin: 10px 20px 5px 0;
    margin-top: 40px;
}
.container {
    display: flex;
    flex-direction: column;
}

.text-row, .input-row {
    display: flex;
    align-items: center; /* Align items vertically */
}

#btn{
    width: 226px;
    color:black;
    height: 58px;
    /* border: 4px solid #14Ab68; */
    background-color: #FFFFFF;
    margin-top: 30px;
}
.employee{
    margin-top: 38px;
    margin-bottom: 5px;
}

.employee-container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .employee-details {
    white-space: nowrap;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    max-width: 700px;
    width: 100vw;
    padding-left: 10px;
    display: flex;
}
  
  .delete-btn {
    background-color: white;
    text-align: center;
    color: black;
    height: 42px;
    width: 162px ;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 20px;
}
#employee-text {
    display: inline-block; /* Display the text in a single line */
    color: dimgray; /* Apply shaded color */
    /* Add padding for better readability */
    border-radius: 5px;
    white-space: nowrap;
     /* Add border radius for rounded corners */
  }

  .error-message {
    display: inline-block; /* Display in a single line */
    color: red; /* Red color */
    white-space: nowrap;
    border-radius: 5px; /* Rounded corners */
    padding: 15px 0;
  }


  
  